html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  background-color: transparent;
}

html,
body {
  height: 100%;
  font-family: "Courier New", Courier, monospace;
}

body {
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

p {
  font-size: 17px;
  font-weight: bold;
}

.header {
  background-color: gold;
  position: relative;
  padding-left: 20px;
}

.reset {
  position: absolute;
  right: 2rem;
  top: 3rem;
  padding: 1rem 2rem;
  background-color: snow;
  font-size: 1.5rem;
  box-shadow: 4px 4px 0px -1px #ffffff;
  height: 50px;
  cursor: pointer;
}

.content {
  --count: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 130px;
  font-weight: bold;
  background-image: linear-gradient(90deg, gold var(--count), transparent 0%);
  position: relative;
}
